In [1]:
# both single and double quotes work for strings

print("inside double")

print('inside single')

print("'single' inside \"double\"")

print('"double" inside \'single\'')

# \ has special meaning
print("old\tline\nnew\tline\"quoted\"")

# escaped \
print("old\\tline\\nnew\\tline")

# multi-line
print(""" This can span
MANY
multiple lines""")

# multi-line string : escaped newline characters
print(""" This can span \
MANY \
multiple lines""")

# concatenation
print("way" + '1')
print("way" '2' " works with only literals not variables")

inside double
inside single
'single' inside "double"
"double" inside 'single'
old	line
new	line"quoted"
old\tline\nnew\tline
 This can span
MANY
multiple lines
 This can span MANY multiple lines
way1
way2 works with only literals not variables

In [2]:
# r : raw text : \ has no special meaning : printed as is : even the escape is also printed
# Useful with regex
print(r"old\tline\nnew\tline\"quoted\"")

old\tline\nnew\tline\"quoted\"

In [3]:
# multiply
print("_" * 100)

____________________________________________________________________________________________________

### Indexing Demos

In [4]:
word = "01234";

In [5]:
print("word[3]=", word[3])

word[3]= 3

In [6]:
# last char
print("word[-1]=", word[-1])

word[-1]= 4

In [7]:
# range : include first index, exclude second index
print("word[1:3]=", word[1:3])

word[1:3]= 12

In [8]:
# till n (excluding n)
print("word[:3]=", word[:3])

word[:3]= 012

In [9]:
# from n (including n)
print("word[3:]=", word[3:])

word[3:]= 34

In [10]:
# Complete word
print("word[:3]+word[3:]=", word[:3] + word[3:])

word[:3]+word[3:]= 01234

In [11]:
%%script python --no-raise-error
print("word[2000]=",word[2000])

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'word' is not defined

In [12]:
%%script python --no-raise-error
word[3] = '9'

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'word' is not defined

In [13]:
%%script python --no-raise-error
word[2:3] = '10'

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'word' is not defined

In [14]:
# length
print("length", len(word))

length 5

### Formatting

In [15]:
name = 'Tom'
age = 44.234

In [16]:
# Variable interpolation
print(f'{name} is {age} years old')

Tom is 44.234 years old

In [17]:
print(f'{name.lower()}')

tom

In [18]:
a = 4
b = f'{a}'
c = f'{b}'
print(c)

4

In [19]:
# Logger kind format
print("{} is {:8.4} years old".format(name, age))  # 8 chars with spaces, total 4 digits
print("{1} is the  age of {0}".format(name, age))

Tom is    44.23 years old
44.234 is the  age of Tom

In [20]:
# String modulo operator: this is like printf but it is an operation in string and not related to the print function
print("number %9.3f" % (3.42))  # 9 chars including spaces, 3 digits
print("number %2.3f" % (123.42395))  # 9 chars including spaces, 3 digits

number     3.420
number 123.424

In [21]:
# 0: padd the value with 0 #: print the 0x, x:convert it to hex, 9: print 7 chars including zeros(or spaces) before
print("number in hex %0#9x" % 345)  # 0x0000159

number in hex 0x0000159

In [22]:
# Separate values with a space and append full stop after the last value.
print("A", "simple", "sentence", sep=' ', end='.')

A simple sentence.

str